:root {
  --background-color: rgb(32, 32, 32);
  --font-color: white;
  --card-bg: purple;
  --footer-bg: purple;
  --bg-gradient: linear-gradient(to right, rgb(34, 59, 145), rgb(164, 70, 201));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  min-width: 300px;
}

#content {
  min-height: 100vh;
  display: grid;
  grid-template: auto auto 1fr auto / 1fr;
}

/* LOGO SECTION */

#logo {
  padding: 25px 10px 30px 25px;
  font-size: 1.6rem;
}

/* MENU SECTION */

#menu,
#books {
  justify-self: center;
  width: max(255px, 85vw);
  box-sizing: border-box;
}

#menu {
  border-bottom: var(--font-color) solid 5px;
  padding: 12px;
  display: flex;
  justify-content: flex-end;
}

#menu .new-book-btn {
  background-color: var(--card-bg);
  background-image: var(--bg-gradient);
  color: var(--font-color);
  padding: 10px 20px;
  border-radius: 30px;
  border-style: none;
  font-size: 18px;
  font-weight: bold;
}

#menu .new-book-btn:hover {
  filter: brightness(90%);
}

/* BOOK CARDS SECTION */
#books {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, calc(95% / 3)));
  grid-template-rows: repeat(auto-fit, 200px);
  grid-auto-rows: 250px;
  gap: 20px;
  justify-content: center;
}

.card {
  padding: 20px 10px 5px 20px;
  background-color: var(--card-bg);
  background-image: var(--bg-gradient);
  border-radius: 15px;
  display: grid;
  grid-template: 2fr 1fr 1fr / 3fr 1fr;
  font-size: 18px;
  font-weight: bold;
}

.title {
  grid-column: 1 / -1;
  font-size: 20px;
  margin-bottom: 10px;
}

.book-info {
  grid-column: 1 / -1;
}

.read-flag {
  align-self: center;
}

.card-options {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

svg {
  fill: var(--font-color);
  width: 30px;
}

svg:hover,
button:hover {
  cursor: pointer;
}

.edit svg:hover {
  fill: skyblue;
}

.delete svg:hover {
  fill: darkgray;
}
/* FOOTER SECTION */

#footer {
  padding: 10px 0 20px;
  font-size: 1.2rem;
  background-color: var(--footer-bg);
  background-image: var(--bg-gradient);
  text-align: center;
}
